<div class="answer-container">
  <h1>Edit answer</h1>
  <%=  erb :'/partials/_errors'%>

  <form class="edit-answer-form" action="/questions/:id/answers/<%= @answer.id%>" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="edit_answer">Edit Answer</label>
    <input type="text" name="answer[answer]" value="<%= @answer.answer%>" id="answer">
    <input type="submit" value="Update Your Answer">
  </form>

</div>

<div class="question-container">
  <h1>Edit question</h1>
  <%= erb :"partials/_errors" %>
  
  <form class="new-edit-form" action="/questions/<%= @question.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="title">Title</label>
    <input id="title" type="text" name="question[title]" value="<%= @question.title %>"><br><br>
    <textarea rows="5" cols="81" name="question[content]"><%= @question.content %></textarea><br><br>
    <input type="submit" value="Update Your Question">
    <a href="/questions/<%= @question.id %>">Cancel</a>
  </form>
</div>
